@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.menu-options-container {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: flex-start;

  .bp3-button {
    margin-left: 10px;
    margin-bottom: 25px;
  }
}