.product-list-container {
  display: flex;
  flex-direction: column;
  position: relative;

  .new-product-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .react-grid-Container {
    margin-top: 40px;
    .react-grid-Main {

    }
  }
}
