@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.product-list-container {
  display: flex;
  flex-direction: column;
  position: relative;

  .new-product-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .react-grid-Container {
    margin-top: 40px;
    .react-grid-Main {

    }
  }
}

.product-create-container {
  position: relative;
  .bp3-heading {
    margin-bottom: 40px;
  }

  .left-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    float: left;
  }
  .right-container {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .field {
    margin-bottom: 50px;
    width: 400px;
    
    .label {
      font-size: 15px;
      margin-bottom: 10px;
    }
  }

}

.product-details-container {
  .product-details-row {
    .item {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
}